body { margin: 0; }
text { font: 10px arial; }
line { stroke: #000000; }
p {
	margin: .4em 0 .4em 0;
	line-height: 1.5;
}
h1 {
	margin: 0 0 .4em 0;
	font-size: 1.5em;
}
h2 {
	margin: 1.2em 0 .4em 0;
	font-size: 1.3em;
}
#vbutton {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 140px;
}
#container {
	position: relative;
	width: 655px;
	height: 930px;
	font: .9em Arial;
}
#ie_msg,
#text_only {
	display: none;
	padding-right: 30px;
}
#ie_msg {
	margin-bottom: 20px;
	line-height: 1.5;
	font-weight: bold;
	font-size: 1.1em;
}
#interactive p {
	padding-left: 2px;
}
#text_only {
	height: 900px;
	overflow: auto;
}
#main_svg,
#lightbox {
	/*Scale factor of 1.25*/
	width: 652px;
	height: 815px;
}
#lightbox {
	position: absolute;
	display: none;
	background: #7b7d77;
	background:	rgba(85, 87, 83, .3);
}
#popup {
	position: relative;
	margin: 0 auto;
	padding: 20px;
	top: 15px;
	height: 745px;
	width: 582px;
	cursor: default;
	background: #ffffff;
	border-radius: 15px;
}
#regions {
	cursor: pointer;
}
#regions a:focus {
	outline: 0;
}
#regions text {
	/*fill: #ffffff;*/
}
.offscreen {
	position: absolute;
	left: -999em;
	width: 990em;
}
.offscreen:active, .offscreen:focus {
	position: static;
}
#reg_head {
	margin: 0;
	font-size: 1.4em;
}
#popup svg {
	margin: 15px;
	width: 550px;
	height: 550px;
}
#close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px 20px 0 0;
	cursor: pointer;
}
#close img {
	vertical-align: -.2em;
}
#key, #info {
	margin-bottom: 20px;
}
#key img {
	vertical-align: -.3em;
}
.country {
	stroke-width: 1;
}
#italy {
	fill: none;
	stroke: #000000;
}
#italy_fill {
	fill: #f0f0f0;
}
.other {
	fill: #f0f0f0;
	stroke: #636363;
}
.region path,
.region polygon {
	stroke: #ffffff;
	stroke-width: 1;
}
.province {
	display: none;
}
.province path,
.province polygon {
	stroke: #000000;
}
.region_border {
	fill: none;
	stroke: #000000;
	stroke-width: 2;
}
.capital {
	font-weight: bold;
}
#sea text {
	fill: #313695;
}
#sea rect {
	fill: #e0f3f8;
}
#sea text {
	font-style: italic;
}
#frame rect {
	stroke: #636363;
	stroke-width: 2;
	fill: none;
}
#town {
	fill:#FFFFFF;
	stroke:#000000;
	stroke-width:1.5;
}
#city {
	fill:#FFFFFF;
	stroke:#000000;
	stroke-width:1.5;
}